[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-plug"]
	path = .vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/bundle/vim-fetch"]
	path = .vim/bundle/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch
[submodule ".vim/bundle/honza/vim-snippets"]
	path = .vim/bundle/honza/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".vim/bundle/wrap-comment-block.vim"]
	path = .vim/bundle/wrap-comment-block.vim
	url = https://github.com/tobinjt/wrap-comment-block.vim
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-mucomplete"]
	path = .vim/bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete
