# keep-sorted start
.antigravitycli/
.gemini/antigravity
.gemini/antigravity-backup
.gemini/antigravity-cli/brain
.gemini/antigravity-cli/cache/
.gemini/antigravity-cli/cli.log
.gemini/antigravity-cli/conversations/
.gemini/antigravity-cli/history.jsonl
.gemini/antigravity-cli/implicit/
.gemini/antigravity-cli/installation_id
.gemini/antigravity-cli/keybindings.json
.gemini/antigravity-cli/knowledge/knowledge.lock
.gemini/antigravity-cli/last_check.timestamp
.gemini/antigravity-cli/log/
.gemini/antigravity-cli/settings.json
.gemini/antigravity-cli/updater/
.gemini/antigravity-ide
.gemini/antigravity-ide/brain
.gemini/antigravity-ide/conversations
.gemini/antigravity-ide/html_artifacts
.gemini/antigravity-ide/installation_id
.gemini/antigravity-ide/knowledge/knowledge.lock
.gemini/antigravity-ide/mcp_config.json
.gemini/antigravity/antigravity_state.pbtxt
.gemini/antigravity/brain
.gemini/antigravity/conversations
.gemini/antigravity/html_artifacts
.gemini/antigravity/installation_id
.gemini/antigravity/knowledge/knowledge.lock
.gemini/antigravity/mcp_config.json
.gemini/config/.migrated
.gemini/config/mcp_config.json
.gemini/config/projects/
.gemini/history/
.gemini/installation_id
.gemini/mcp-oauth-tokens-v2.json
.gemini/projects.json
.gemini/tmp
# keep-sorted end
