[user]
  name = John Tobin
  email = johntobin@johntobin.ie
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore.global
[alias]
  upstream = commit -a -m 'Upstream changes.'
  unpushed-commits = log @{u}..
  unpushed-commits-diffs = diff @{u}..
[push]
	default = current
[diff]
	colorMoved = true
	colorMovedWS = allow-indentation-change
	noprefix = true
[pull]
	rebase = false
