[submodule ".vim/bundle/gmarik/vundle"]
	path = .vim/bundle/gmarik/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/bundle/scrooloose/nerdcommenter"]
	path = .vim/bundle/scrooloose/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/godlygeek/tabular"]
	path = .vim/bundle/godlygeek/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/tpope/vim-fugitive"]
	path = .vim/bundle/tpope/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tpope/vim-surround"]
	path = .vim/bundle/tpope/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-scripts/quickfixsigns"]
	path = .vim/bundle/vim-scripts/quickfixsigns
	url = git://github.com/vim-scripts/quickfixsigns.git
[submodule ".vim/bundle/tpope/vim-abolish"]
	path = .vim/bundle/tpope/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/bundle/vim-scripts/file-line"]
	path = .vim/bundle/vim-scripts/file-line
	url = git://github.com/vim-scripts/file-line.git
[submodule ".vim/bundle/vim-scripts/LargeFile"]
	path = .vim/bundle/vim-scripts/LargeFile
	url = git://github.com/vim-scripts/LargeFile.git
[submodule ".vim/bundle/tpope/vim-unimpaired"]
	path = .vim/bundle/tpope/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/scrooloose/syntastic"]
	path = .vim/bundle/scrooloose/syntastic
	url = git://github.com/scrooloose/syntastic.git
