[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/bundle/LargeFile"]
	path = .vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule ".vim/bundle/vim-plug"]
	path = .vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule ".vim/bundle/yapf"]
	path = .vim/bundle/yapf
	url = https://github.com/google/yapf
	branch = main
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule ".vim/bundle/vim-codefmt"]
	path = .vim/bundle/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule ".vim/bundle/vim-maktaba"]
	path = .vim/bundle/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule ".vim/bundle/vim-glaive"]
	path = .vim/bundle/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tobinjt/vim-markdown
	branch = my-changes
[submodule ".vim/bundle/vim-fetch"]
	path = .vim/bundle/vim-fetch
	url = https://github.com/wsdjeg/vim-fetch
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/preservim/tagbar
