# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-vcs-permalinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/google/keep-sorted
    rev: v0.7.1
    hooks:
      - id: keep-sorted
  - repo: local
    hooks:
      # keep-sorted start
      - id: luac
        name: Run `luac` if it's installed
        language: system
        types: [lua]
        entry: run-if-exists luac -p
      - id: luacheck
        name: Run `luacheck` if it's installed
        language: system
        types: [lua]
        entry: run-if-exists luacheck --globals vim table.unpack --codes --ranges
      - id: markdownlint
        name: Run `markdownlint`
        language: system
        types: [markdown]
        entry: markdownlint
      - id: shellcheck
        name: Run `shellcheck`
        language: system
        types: [shell]
        entry: shellcheck
      - id: sort-spell-file
        name: Sort vim's spell file.
        language: system
        files: .config/nvim/spell/en.utf-8.add
        pass_filenames: false
        entry: sort -o .config/nvim/spell/en.utf-8.add .config/nvim/spell/en.utf-8.add
      # keep-sorted end
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
