# To figure out setting to change run: pylint --generate-rcfile | less
[REPORTS]
# Keep the output format parsable, in paricular include filenames and line
# numbers.
output-format=parseable
# Disable the very long reports.
reports=no

[FORMAT]
# Indents are two spaces, not four.
indent-string='  '
# Maximum number of characters on a single line.
max-line-length=80

[BASIC]
# Don't require a docstring for certain functions.
no-docstring-rgx=^_|^main$|^setUp$
# Require method_names except for setUp.
method-rgx=^[a-z_][a-z0-9_]{2,30}$|^setUp$
# Don't require public methods, e.g. with classes derived from namedtuple.
min-public-methods=0

[MESSAGES CONTROL]
# similarities complains about boilerplate code for parsing arguments.
# fixme complains about TODOs.
disable=similarities,fixme

[DESIGN]
# It's easy to have more than 15 local variables, and I'm not going to write
# worse code just to have fewer local variables.
max-locals=20
# Variable names that can be unused.
dummy-variables-rgx=^_+$|unused_.*
