[REPORTS]
# Keep the output format parsable, in paricular include filenames and line
# numbers.
output-format=parseable
# Disable the very long reports.
reports=no

[FORMAT]
# Indents are two spaces, not four.
indent-string='  '
# Maximum number of characters on a single line.
max-line-length=80

[BASIC]
# Don't require a docstring for main.
no-docstring-rgx=^_|^main$
